
.background{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    color: white;
    background-image: url('C:\Users\HomePC\Desktop\sugar folder\realreactprojecr\public\indian-girl.jpg');
    background-size: cover;
    position: relative;
    border-style: solid;
    border-radius: 35px;
    animation: myfirst 20s infinite;
    animation-direction: alternate;
    animation-timing-function: repeat;
    text-align: center;
    margin-top: -720px;
    text-shadow: 2px 2px black;
   transition: transform 1s;
  }
  .background:hover{
    transform: rotate
  }
  @keyframes myfirst {
    0% {background-image: url('C:\Users\HomePC\Desktop\sugar folder\realreactprojecr\public\indian-girl2.jpg'); left: 200px; top: 0px;}
    25% { background-image: url('C:\Users\HomePC\Desktop\sugar folder\realreactprojecr\public\indian-girl3.jpg'); left: 1200px; top: 0px;}
    50% {background-image: url('C:\Users\HomePC\Desktop\sugar folder\realreactprojecr\public\indian-girl4.jpg'); left: 90px; top: 500px;}
    75% { background-image: url('C:\Users\HomePC\Desktop\sugar folder\realreactprojecr\public\indian-girl5.jpg'); left: 0px; top: 400px;}
    100% { background-image: url('C:\Users\HomePC\Desktop\sugar folder\realreactprojecr\public\indian-girl6.jpg'); left: 0px; top: 0px;}
  }