.editProfile {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  background: var(--bg);
  border-radius: 10px;
}

.editProfile h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text);
}

.editProfile form {
  display: flex;
  flex-direction: column;
}

.editProfile form label {
  margin-bottom: 10px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.editProfile form label input {
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.editProfile form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editProfile form button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
   .editProfile{
    width: 94%;
   }
}

