.chat-container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.messages {
  width: 100%;
  max-height: 500px;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
}

.message {
  margin: 4px 0;
  padding: 1px 4px;
  border-radius: 4px;
  border: 0.3px solid grey;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  width: max-content;
}

.received {
  background-color: #f1f1f1;
  align-self: flex-start;
  width: max-content;
}

.chat-date{
  font-size: 10px;
}

.chat-form {
  display: flex;
}

.chat-form input {
  flex: 1;
  padding:14px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-form button {
  margin-left: 8px;
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.call-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.call-controls button {
  padding: 10px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.call-controls button:hover {
  background-color: #218838;
}

.video-call {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.video-call video {
  width: 45%;
  border-radius: 8px;
  border: 2px solid #ccc;
}



  .call-controls button {
    padding: 8px 12px;
  }


@media (max-width: 768px) {
  .chat-container{
    max-width: 90%;
  }

  .video-call video {
    width: 48%;
  }

}
