/* FriendList.css */

/* General styles */
.friends-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--bg);
  border-radius: 8px;
  box-shadow: var(--shadow);
  min-height: 100vh;
}

.friends-list h2, h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color:var(--text);
}

/* Friend list styling */
.friends-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 90%;
}

.friend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  background: var(--bg);
  border-radius: 8px;
  box-shadow:var(--shadow);
  transition: transform 0.3s ease;
}

.friend-item:hover {
  transform: scale(1.02);
}

.friend-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.friend-name {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
  flex-grow: 1;
}

.friend-item button {
  padding: 8px 16px;
  background: var(--primary);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.friend-item button:hover {
  background: var(--primary-dark);
}

/* Friend Requests Section */
.friend-requests {
  margin-top: 30px;
}

.request-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background: var(--bg);
  color: var(--text);
  box-shadow:var(--shadow);
}

.request-item span {
  font-size: 16px;
  color: var(--text);
}

.request-item button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.request-item button:hover {
  background-color: #218838;
}

.request-item button:last-child {
  background-color: #dc3545;
}

.request-item button:last-child:hover {
  background-color: #c82333;
}

/* Chat Button */
button.chat-button {
  background-color: var(--primary);
}

button.chat-button:hover {
  background-color: var(--primary-dark);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .friend-item, .request-item {
    flex-direction: column;
    text-align: center;
  }

  .friend-profile-pic {
    margin-bottom: 10px;
  }

  .friend-item button, .request-item button {
    width: 100%;
    margin: 5px 0;
  }

  .friends-list {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .friend-name {
    font-size: 16px;
  }

  .friends-list h2, h3 {
    font-size: 18px;
  }
}
